.App {
    min-height: 95vh;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(229, 219, 219);
}

.navBar {
    display:flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(183, 161, 161);
    position: fixed;
    top: 0;
    left: 0;
    right : 0;
    font-weight:300;
}

.navBar>*{
    padding:10px;
}

.navBar>*:first-child{
    padding-left:30px;
}

.navBar>*:hover{
    cursor:pointer
}

.contents

.aboutChildren > * {
    display: inline-flex;
    height: 15px;    
    align-items: center; /* 가로 - 중앙으로 */
    justify-content: flex-start; /* 세로 - 상단으로 */
}

.category {
    border-top: 2px ridge black;
    border-left: 2px ridge black;
    border-top-left-radius: 7px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 3px;
}

.categoryNameBox {
    padding:3px;
    min-height: 20px;
    max-height: 20px;
}

.option {
    background-color: rgba(187, 133, 133, 0);
}

.option:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    transition: all 0.1s;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

