.App {
    min-height: 95vh;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(229, 219, 219);
}

.navBar {
    text-align: center;
    display:grid;
    grid-template-columns: 50px 1fr 100px;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(183, 161, 161);
    position: fixed;
    top: 0;
    left: 0;
    right : 0;
    font-weight:300;
}

.navBar .left {
    margin-left:30px
}

.navBar .left > * {
    margin:15px;
}

.navBar .left > *:hover {
    cursor:pointer;
}

.navBar .right {
    margin-right: 30px;
}

.contents

.aboutChildren > * {
    display: inline-flex;
    height: 15px;    
    align-items: center; /* 가로 - 중앙으로 */
    justify-content: flex-start; /* 세로 - 상단으로 */
}

.category {
    border-top: 2px ridge black;
    border-left: 2px ridge black;
    border-top-left-radius: 7px;
    padding-left: 8px;
    padding-top: 5px;
    margin-top: 3px;
}

.nameBox {
    padding:3px;
    min-height: 20px;
    max-height: 20px;
    cursor: pointer
}

.category .option {
    background-color: rgba(187, 133, 133, 0);
}

.option:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    transition: all 0.15s;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

