@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
	font-family: 'Roboto', sans-serif;
}


.navBar {
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgb(57, 57, 57); 
  padding: 15px;
  text-align: center;
  max-height: 30px;
}

.navTitle:hover {
  cursor: pointer;
}

.navGo, .navBack {
  font-size: 25px;
  cursor: pointer;
  
}

.mainTitle {
  font-size: 25px;
  padding: 5px;
}
.subTitle {
  color: rgb(198, 198, 198);
  font-size: 15px;
}

.AppMain {
  margin: 25px;
  border: 3px solid black;
  border-radius: 30px;
}

/* Phone, Tablet */
@media only screen and (max-width: 800px) {
  .subTitle {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    transition: all 0.3s;
  }
  .mainTitle {
    transition: all 0.3s;
  }
}
/* Laptop, Desktop */
@media only screen and (min-width: 800px) {
  .subTitle{
    transition: all 0.3s;
  }
  
}
